<!-- Cambiar variables in/out para simular acceso -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
    <!-- Menu solo se muestra con acceso  -->
    <button menuToggle *ngIf="logIn"><ion-icon name="menu"></ion-icon></button>
  </ion-navbar>
</ion-header>
<!-- Contenito con acceso  -->

<ion-content padding *ngIf="logIn">
  <h1>Home</h1>
  <p>Bievenido Usuario !</p>
   <button ion-item *ngFor="let usuario of usuarios">Nombre Usuario: {{usuario.nombre}}</button>
   <button ion-item *ngFor="let producto of productos">Nombre Producto: {{producto.nombre}}</button>
   <button ion-item *ngFor="let pedido of pedidos">Id Pedido: {{pedido.id_usuario}}</button>
</ion-content>

<!-- Usuario sin acceso  -->

<ion-tabs *ngIf="logOut">
  <ion-tab tabTitle="Login" [root]="loginTab" tabIcon="body"></ion-tab>
  <ion-tab tabTitle="Sign Up" [root]="signUpTab" tabIcon="body"></ion-tab>
</ion-tabs>
