<!-- Cambiar variables cliente/empresa/transporte para simular usuario -->
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Tesis</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- Menu cliente -->
    <ion-list *ngIf="cliente">
      <ion-list-header color="secondary">Cliente</ion-list-header>
      <button menuClose ion-item (click)="goHome()">Inicio</button>
      <button menuClose ion-item (click)="goPedidos()">Pedidos</button>
      <ion-list-header color="secondary">cliente</ion-list-header>
      <button menuClose ion-item (click)="goConfiguracion()">Configuracion</button>
      <button menuClose ion-item>Log out</button>
    </ion-list>
    <!-- Menu empresa -->
    <ion-list *ngIf="empresa">
      <ion-list-header color="secondary">Empresa</ion-list-header>
      <button menuClose ion-item (click)="goHome()">Inicio</button>
      <button menuClose ion-item (click)="goPedidos()">Pedidos</button>
      <button menuClose ion-item (click)="goInventario()">Inventario</button>
      <ion-list-header color="secondary">Empresa</ion-list-header>
      <button menuClose ion-item (click)="goAfiliacion()">Afiliaciones</button>
      <button menuClose ion-item (click)="goConfiguracion()">Configuracion</button>
      <button menuClose ion-item>Log out</button>
    </ion-list>
    <!-- Menu transporte -->
    <ion-list *ngIf="transporte">
      <ion-list-header color="secondary">Transporte</ion-list-header>
      <button menuClose ion-item>Inicio</button>
      <button menuClose ion-item>Pedidos</button>
      <ion-list-header color="secondary">Transporte</ion-list-header>
      <button menuClose ion-item (click)="goConfiguracion()">Configuracion</button>
      <button menuClose ion-item>Log out</button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
